.sectionTitle {
  font-family: "Noto Serif", serif;
  font-size: 36px;
  text-align: center;
}
.sectionSubtitle {
  font-family: "Noto Serif", serif;
  font-size: 24px;
  text-align: center;
}
.interactable {
  font-family: "Yantramanav", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
