// @font-face {
//   font-family: "Quatrrocento";
//   src: url("./fonts/Quattrocento-Regular.ttf") format("ttf");
//   font-weight: 400;
//   font-style: normal;
// }
// @font-face {
//   font-family: "Quattrocento";
//   src: url("./fonts/Quattrocento-Bold.ttf") format("ttf");
//   font-weight: 700;
//   font-style: normal;
// }

/* TODO: figure out local font loading */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  // width: 100vw;
  // height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(148, 255, 156, 1) 65%
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 256px 0;
}
