@import "../../../global.module.scss";
.dropdownParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  gap: 8px;
}

.dropdownLabel {
  @extend .sectionSubtitle;
  margin: 8px 0;
}

.comboBox {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 24px;
  border: none;

  text-align: center;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

  border-radius: 8px;
  padding: 12px 24px 12px 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  transition: background-color 100ms;

  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.7), 25%);
  }
}
