.dropdownParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.comboBox{
    display: inline-block;
	text-transform: uppercase;
    text-decoration: none;
	letter-spacing: 5px;
	color: #FAFAFA;
	border: 3px solid #204e05;
    padding: 25px;
    
	text-align: center;
	left: 50%;
	top: 50%;
    background: #1DB954;
    border-radius: 10px;

    border-radius: 8px;
    padding: 12px 24px 12px 20px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;

    &:hover {
		background: rgba(51, 83, 76, 0.6);
    }
}

.progressComponent{
    margin-top: 2vh;
    font-size: 4vh;
    font-style: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    // width: 50vw;
    // height: 10vh;
    // border-radius: 15px;
    // background-color: rgb(30, 94, 18);
  }
  
.progress{
    background: linear-gradient(to left, #F2709C, #FF9472);
    border-radius: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}