@import "../../../global.module.scss";
.dropdownParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 0;
  gap: 8px;
}

.dropdownLabel {
  @extend .sectionSubtitle;
  margin: 8px 0;
}

.comboBox {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  padding: 24px;
  border: none;

  text-align: center;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

  border-radius: 8px;
  padding: 12px 24px 12px 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  transition: background-color 100ms;

  &:hover {
    background-color: darken(rgba(255, 255, 255, 0.7), 25%);
  }
}

.progressComponent {
  margin-top: 20px;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  // width: 50vw;
  // height: 10vh;
  // border-radius: 15px;
  // background-color: rgb(30, 94, 18);
}

.progress {
  background: linear-gradient(to left, #f2709c, #ff9472);
  width: 11vw;
  height: 20vh;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  //     height: 100%;
  //     border-radius: 15px;
  //     animation: progress-animation 10s forwards;
  //     display: flex;
  //     align-items: center;
  //     text-align: center;
  //     justify-content: center;
  //     background: linear-gradient(to left, #F2709C, #FF9472);
  // 	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
}

//   @keyframes progress-animation{
//     0% {width: 0%;}
//     100% {width: 100%;}
//   }
