@import "../../global.module.scss";

.selectorContainer {
  display: flex;
  flex-direction: column;
}

.selectorTitle {
  @extend .sectionTitle;
}



@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	box-sizing: border-box;
}

.countrySelection {
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
  justify-content: center;
  
}
