@import "../../global.module.scss";

.selectorContainer {
  display: flex;
  flex-direction: column;
}

.selectorTitle {
  @extend .sectionTitle;
}

.countrySelection {
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
