.hiddenControls {
  display: none;
}

.slide1 {
  width: 100vw;
  height: 100vh;
}

.slide2 {
  width: 100vw;
  height: 100vh;
}

.appContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 128px;
}
<<<<<<< HEAD
=======

.logoContainer {
  margin-bottom: 64px;
}

.siteLogo {
  width: 400px;
}
>>>>>>> main
